# Auto detect text files and perform LF normalization
* text=auto
# Mark ShaderLab files as linguistically ignored
*.shader linguist-language=Text
*.cginc linguist-language=Text

# Explicitly set the project language to C#
*.cs linguist-language=C#